<% content_for(:sidebar_home) { 'true' } %>
<%#= render 'layouts/header', title: 'Principal', subtitle: 'Home' %>

<div class="container-fluid mt-5 pt-5 ml-3" id="painel-admin">
  <div class="row mt-4">
    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= link_to('<span class="material-symbols-outlined home">home</span>'.html_safe, root_path) %>
      <span class="title">ADMINISTRAÇÃO > NOVO USUÁRIO</span>
    </div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4"></div>

    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <%= link_to('<span class="material-symbols-outlined person_add">person_add</span> Criar Usuário'.html_safe, new_user_path, class: 'btn-btn new') %>
    </div>
  </div>

  <div class="responsive-table mt-4">
    <table class="table table-striped table-index">
      <thead class="cf">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Sobrenome</th>
          <th>E-mail</th>
          <th>Perfil</th>
          <th>Saldo</th>
          <th colspan="2">Ações</th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><%= user.id        %></td>
            <td><%= user.name      %></td>
            <td><%= user.last_name %></td>
            <td><%= user.email     %></td>
            <td><%= user.profile   %></td>
            <td><%= 'R$ 50,00'     %></td>

            <td>
              <%= link_to('<span class="material-symbols-outlined">edit_square</span>'.html_safe, edit_user_path(user)) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
